
.Lenguajes-padre
{
  margin:200px 0 170px 0;
}
.Lenguajes-padre .Titulo
{
    font-family: 'Lucida Sans';
    font-size: 50px;
}
.languages {
  background-color: lightslategray;
  height: 100%;
  border-top: solid;
  border-bottom: solid;
  overflow: hidden;
  padding: 15px 0;
}
.move {
  display: inline-block;
  white-space: nowrap;
  animation: moveTicker 4s linear infinite;
}
.move h2 {
  font-family: "Lucida Sans", "Lucida Sans Regular";
  font-size: 35px;
  display: inline-block; 
  margin: 0 2rem;
  color: white;
}

@keyframes moveTicker {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.languages:hover .move {
  animation-play-state: paused;
}

