.sidebar-container {
  /* 1. Define el ancho. 'flex-shrink: 0' evita que se encoja */
  width: 250px;
  flex-shrink: 0; 
  
  /* 2. 'min-height' en lugar de 'height' para que crezca si es necesario */
  min-height: 100vh; 
  background: linear-gradient(180deg, #ce6565, #3d85d3);
  color: #0f172a;
  padding: 25px 20px;
  border-right: 1px solid #e2e8f0;
  border-radius: 0 25px 25px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 4px 0 12px rgba(0, 0, 0, 0.08);


}

.sidebar-title {
  text-align: center;
  font-weight: 700;
  font-size: 1.4rem;
  letter-spacing: 0.5px;
  margin-bottom: 30px;
  color: #0f172a;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-title {
 font-size: 28px;
}

.sidebar-list {
  width: 100%;
  border: none;
  padding: 0;
}

.sidebar-item {
  border-radius: 10px !important;
  background-color: #fff !important;
  color: #0f172a !important;
  font-weight: 500;
  margin-bottom: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  transition: all 0.25s ease;
}

.sidebar-item:hover {
  background-color: #e2e8f0 !important;
  transform: translateX(5px);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.list-group-item.active {
  background-color: #3b82f6 !important;
  color: white !important;
  border: none !important;
  box-shadow: 0 4px 10px rgba(59, 130, 246, 0.4);
}

.sidebar-item.mt-3 {
  margin-top: 20px !important;
}