.seccion-educacion {
  padding: 100px 5vw; 
  background-color: black; 
  color: black;
}


.h2-educacion {
  text-align: center;
  font-size: 2.5rem; 
  font-weight: 700;
  margin-bottom: 50px;
  color: #ffffff;
}


.div-educacion {
  display: flex; 
  justify-content: center; 
  flex-wrap: wrap; 
  gap: 30px; 
}


.article-educacion {
  background-color: #1E293B; 
  border: 1px solid #444;
  border-radius: 10px; 
  padding: 30px;
  flex-basis: 450px; 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  
  
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.article-educacion:hover {
  transform: translateY(-10px); 
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); 
}


.article-educacion h3 {
  color: white; 
  font-size: 1.5rem;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid #747bff; 
}


.article-educacion ul {
  list-style: none; 
  padding: 0;
}

.article-educacion li {
  color: #c4c4c4; 
  font-size: 1rem;
  line-height: 1.7; 
  margin-bottom: 10px;
  padding-left: 25px; 
  position: relative;
}


.article-educacion li::before {
  font-size: 1.1rem;
  position: absolute;
  left: 0;
  top: 1px;
}


@media (max-width: 768px) {
  .article-educacion {
    flex-basis: 100%; 
  }

  .h2-educacion {
    font-size: 2rem;
  }
}