.seccion-idiomas {
  padding: 100px 5vw;
  background-color: white; 
  color: black;
}


.h2-idiomas {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 50px;
}


.idiomas-div {
  max-width: 600px; 
  margin: 0 auto; 
  display: flex;
  flex-direction: column; 
  gap: 25px; 
}


.idioma-card {
  background-color: #1E293B;
  border-radius: 8px;
  padding: 20px 25px;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  border-left: 5px solid #747bff; 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.idioma-card:hover { 
  transform: translateY(-10px); 
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); 
}

.idioma-nombre {
  font-size: 1.3rem;
  font-weight: 600;
  color: white;
}


.idioma-nivel {
  font-size: 1rem;
  color: #c4c4c4; 
  font-style: italic;
}


@media (max-width: 768px) {
  .h2-idiomas {
    font-size: 2rem;
  }
  .idioma-card {
    flex-direction: column; 
    align-items: flex-start;
    gap: 10px;
  }
}