/* src/styles/layout.css */

.layout-container {
  
  display: flex;
  min-height: 100vh;
  width: 100%;
  
  
  background-color: #f1f5f9; 
}





.layout-content {
 
  flex-grow: 1; 

 
  min-height: 100vh;
  background: #f1f5f9;
  padding: 30px;
  border-radius: 25px 0 0 25px; 
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.1);
  overflow-y: auto; 
}